<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Home page">
    <meta name="author" content="Ong Zhi Xian">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/skeleton.css" />
    <link rel="icon" type="image/png" href="images/favicon.png" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="one-half column">
                <h4>Home Page</h4>

                <p id="log"></p>
                <button id="send" type="button">Send!</button>

            </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script>
        $(document).ready(function () {
            if ("WebSocket" in window) {
                ws = new WebSocket("ws://" + document.domain + ":5000/api2");
                ws.onmessage = function (msg) {
                    var message = JSON.parse(msg.data);
                    $("p#log").html(message.output);
                };
            };

            // Bind send button to websocket
            $("button#send").live("click", function () {
                ws.send(JSON.stringify({ 'output': 'Sent from my browser!' }));
            });

            // Cleanly close websocket when unload window
            window.onbeforeunload = function () {
                ws.onclose = function () { }; // disable onclose handler first
                ws.close()
            };
        });
    </script>
</body>

</html>